body {
  font-family: Arial, sans-serif;
}

.wrapper {
  max-width: 500px;
  margin: 20px auto;
  padding: 20px;
  background-color: #f0f0f0;
  border-radius: 5px;
}

header {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 20px;
  text-align: center;
}

.inputField {
  display: flex;
  margin-bottom: 20px;
}

.inputField input {
  flex-grow: 1;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px 0 0 5px;
}

.inputField button {
  padding: 10px 20px;
  background-color: #eca7d2;
  color: #fff;
  border: none;
  border-radius: 0 5px 5px 0;
  cursor: pointer;
}

#todoList {
  list-style: none;
  padding: 0;
}

.task {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
  padding: 10px;
  background-color: #fff;
  border-radius: 5px;
}

.task-checkbox {
  margin-right: 10px;
}

.completed-task .task-text {
  text-decoration: line-through;
  color: #dd65b3;
}

.delete-task {
  margin-left: auto;
  padding: 5px 10px;
  background-color: #fba2d6;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
